In [1]:
from sdv.single_table import CTGANSynthesizer
from ctgan import load_demo

real_data = load_demo()

real_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
# Names of the columns that are discrete
discrete_columns = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country',
    'income'
]

ctgan = CTGAN(epochs=10, cuda=True)
ctgan.fit(real_data, discrete_columns)

# Create synthetic data
synthetic_data = ctgan.sample(1000)

In [4]:
synthetic_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,29,Private,7070,Bachelors,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,-83,3,40,United-States,<=50K
1,29,Private,56302,Some-college,14,Married-civ-spouse,Farming-fishing,Unmarried,White,Male,553,6,40,United-States,<=50K
2,27,Private,33875,HS-grad,9,Married-civ-spouse,Craft-repair,Own-child,White,Male,-104,-4,26,United-States,<=50K
3,34,Private,17032,Bachelors,9,Married-civ-spouse,Other-service,Husband,Amer-Indian-Eskimo,Male,22,-7,5,United-States,<=50K
4,42,Private,147495,HS-grad,13,Separated,Exec-managerial,Own-child,White,Female,-91,-1,40,Germany,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,26,Private,163597,Assoc-acdm,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,-121,2,48,Dominican-Republic,<=50K
996,67,?,102126,Bachelors,10,Never-married,Prof-specialty,Unmarried,White,Female,-38,2,40,United-States,<=50K
997,38,State-gov,85772,HS-grad,6,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,-89,-6,40,United-States,<=50K
998,34,Private,141175,1st-4th,11,Married-civ-spouse,Sales,Own-child,Other,Male,-66,2,40,United-States,<=50K
999,34,Private,-2000,11th,10,Never-married,Transport-moving,Husband,White,Female,-7,-6,22,United-States,<=50K

In [9]:
import pandas as pd 

df = pd.read_csv('/data/qgong/data/CICIDS2017/cicids_all_test_dataset.csv')
print(df['label'].head())

label_mapping = {'BENIGN': 0, 'Bot': 1, 'DDoS': 2, 'DoS GoldenEye': 3, 'DoS Hulk': 4, 
                 'DoS Slowhttptest': 5, 'DoS slowloris': 6, 'FTP-Patator': 7, 
                 'PortScan': 8, 'SSH-Patator': 9}

# Replace labels with numerical values
df['label'] = df['label'].map(label_mapping)
df.to_csv('/data/qgong/data/CICIDS2017/cicids_all_test_dataset_num_label.csv', index=False)

0    BENIGN
1    BENIGN
2    BENIGN
3      DDoS
4    BENIGN
Name: label, dtype: object

In [24]:
import pandas as pd 

df = pd.read_csv('/data/qgong/data/CICIDS2017/ctgan_synthetic_data_all.csv')
print(df.columns)
df.drop(columns=['Unnamed: 0'], inplace=True)
df.to_csv('/data/qgong/data/CICIDS2017/ctgan_synthetic_data_all.csv', index=False)
df.head()

Index(['Unnamed: 0', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', 'label'],
      dtype='object')

,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,Bwd Packet Length Max,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,label
0,0.000943,0.000095,0.000000,0.000357,0.000000,0.000814,0.002657,0.001886,0.000797,0.000190,...,1.0,0.000000,0.000262,0.000352,0.000000,0.000125,0.000000,0.000134,0.000114,BENIGN
1,0.000908,0.000439,0.000000,0.000304,0.000167,0.000382,0.000021,0.000000,0.001232,0.000000,...,1.0,0.000024,0.000451,0.000405,0.000000,0.000000,0.000000,0.000000,0.000000,BENIGN
2,0.000709,0.000062,0.000000,0.000286,0.000139,0.000327,0.002235,0.000961,0.000216,0.000000,...,1.0,0.000000,0.000000,0.000259,0.000000,0.000592,0.000000,0.000938,0.000422,BENIGN
3,0.519220,0.000200,0.000012,0.000840,0.000254,0.001239,0.014256,0.006838,0.000000,0.000000,...,1.0,0.000798,0.000051,0.000573,0.000268,0.000000,0.000000,0.000000,0.000130,BENIGN
4,0.095614,0.000000,0.000000,0.000527,0.000000,0.000559,0.000684,0.000973,0.001138,0.000926,...,1.0,0.000339,0.000513,0.001323,0.000487,0.083231,0.000905,0.083021,0.082284,BENIGN

In [23]:
df = pd.read_csv('/data/qgong/data/CICIDS2017/ctgan_synthetic_data_all_v1.csv')
df.head()

,Unnamed: 0,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,label
0,0,0.000943,0.000095,0.000000,0.000357,0.000000,0.000814,0.002657,0.001886,0.000797,...,1.0,0.000000,0.000262,0.000352,0.000000,0.000125,0.000000,0.000134,0.000114,BENIGN
1,1,0.000908,0.000439,0.000000,0.000304,0.000167,0.000382,0.000021,0.000000,0.001232,...,1.0,0.000024,0.000451,0.000405,0.000000,0.000000,0.000000,0.000000,0.000000,BENIGN
2,2,0.000709,0.000062,0.000000,0.000286,0.000139,0.000327,0.002235,0.000961,0.000216,...,1.0,0.000000,0.000000,0.000259,0.000000,0.000592,0.000000,0.000938,0.000422,BENIGN
3,3,0.519220,0.000200,0.000012,0.000840,0.000254,0.001239,0.014256,0.006838,0.000000,...,1.0,0.000798,0.000051,0.000573,0.000268,0.000000,0.000000,0.000000,0.000130,BENIGN
4,4,0.095614,0.000000,0.000000,0.000527,0.000000,0.000559,0.000684,0.000973,0.001138,...,1.0,0.000339,0.000513,0.001323,0.000487,0.083231,0.000905,0.083021,0.082284,BENIGN