In [1]:
import numpy as np 
import pandas as pd 

X = np.load('/data/qgong/code/NID-GPT/exp/cicids2017_all/X_num_train.npy')
y = np.load('/data/qgong/code/NID-GPT/exp/cicids2017_all/y_train.npy')

# Convert to a DataFrame and merge
df = pd.DataFrame(X)
df['label'] = y

df.shape

(2260482, 77)

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,label
0,4.259518e-04,0.000000,0.000003,0.000004,1.884866e-07,0.002095,0.022094,0.008419,0.0,0.006425,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1.986775e-06,0.000000,0.000003,0.000004,1.643198e-07,0.002297,0.024086,0.009272,0.0,0.005120,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,3.291021e-04,0.000000,0.000003,0.000005,1.739255e-07,0.003193,0.027961,0.010934,0.0,0.005559,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,8.200139e-04,0.000005,0.000007,0.000006,2.524313e-07,0.001612,0.018065,0.007240,0.0,0.004049,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,3.171564e-07,0.000000,0.000003,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000307,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [3]:
df.to_csv('/data/qgong/data/CICIDS2017/results/ddpm_synthetic_data_all.csv', index=False)